.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

.nav-link {
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  position: relative;
  padding: 0.25rem;
}

.nav-link:is(:hover, :focus-visible) {
  color: var(--orange-2);
}

.nav-link:not(.primary-link)::after {
  content: "";
  left: 50%;
  position: absolute;
  height: 3px;
  width: 20%;
  background-color: var(--orange-2);
  bottom: -0.25rem;
  transition: all 0.4s ease-in-out;
  transform: translateX(-50%);
}

.nav-link:hover::after,
.nav-link:focus-visible::after {
  width: 100%;
}
.primary-link:is(:any-link) {
  background-color: var(--orange-2);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: var(--light);
}

.primary-link:is(:hover, :focus-visible) {
  background-color: var(--yellow);
  color: var(--dark);
}
