.res-card {
  padding: 1rem;
  width: 20rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.05);
  transition: all 0.5s ease-in-out;
}
.res-card:is(:hover, :focus-visible) {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.3);
  transform: scale(0.9);
}
.res-img-box {
  overflow: hidden;
  position: relative;
}
.res-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 0.2rem;
  transition: all 1s ease-in-out;
}
.res-img:hover {
  transform: scale(1.1);
}
.cuisines {
  font-size: 0.9rem;
  font-weight: lighter;
}
address {
  font-size: 0.9rem;
  font-weight: lighter;
  margin-top: 0.25rem;
}
.discount-text {
  position: absolute;
  bottom: 0;
  color: var(--light);
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: "Merriweather", serif;
}

.res-name {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.res-stats {
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}
.rating-stat {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
.rating-stat .star {
  border-radius: 50%;
  padding: 0.1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(19, 187, 19);
}
